{% extends 'base.html' %}

{% block content %}
{%for key, value in rates.items%}
    <p>{{key}}: {{value.Cur_OfficialRate}}</p>
{% endfor %}
<div style="width:100%;">
    <div style="width: 140%; margin: 20px auto;">
        <main class="container">
            {%for news in page_obj%}
            <p>
                <div class="col-md-7">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-10 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <img src="{{news.image}}" width="706">
                            <strong class="d-inline-block mb-2 text-primary">habr.com</strong>
                            <h3 class="mb-0">
                                {{news.title}}
                            </h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                                <p>{{news.text|truncatewords:35}}</p>
                            <br>
                            <a href="{{ news.get_url }}" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block"></div>
                    </div>
                </div>
            </p>
            {%endfor%}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                        {{page_obj.paginator.num_page}}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </main>
    </div>
</div>
{% endblock %}
